<section>
  <div class="p-4">
    <div
      class="grid grid-cols-1 gap-4 list-none lg:grid-cols-3 lg:grid-rows-3 xl:grid-cols-4 xl:grid-rows-4"
    >
      <div
        class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <div class="relative flex items-center gap-x-4">
          <img
            src="/images/website_profile_image2.jpg"
            alt=""
            class="h-10 w-10 rounded-full ring-1 dark:ring-white/10 ring-primary/5"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-primary dark:text-white">
              <a href="#">
                <span class="absolute inset-0"></span>
                 
              </a>
            </p>
            <p class="text-zinc-500 dark:text-zinc-400">
              B.S. Statistics and Data Science 
            </p>
          </div>
        </div>
        <p
          class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white"
        >
          Michael David
        </p>
        <p
          class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"
        >
        I'm a recent statistics graduate with broad experience via personal projects, internships, 
        and lab research and a strong competency in statistical analyses and technical skills: 
        <b>Python, R, SQL, Excel, Tableau</b>.
        <br>
          
          <!--<span style="font-weight: 900;">Python, R, SQL, Excel, Tableau</span> -->          
          <br> My experience gives me skills in the following areas:
          <b>
          <br> - Data Analytics
          <br> - Data Science
          <br> - Machine Learning
          <br> - Deep Learning
          <br> - Databases
          <br> - Software Engineering
          <br> - Marketing
          <br> - Finance
          <br> - Web Development
          </b>

        </p>
      </div>

      <!-- FIND ME ON SECTION --> <!-- FIND ME ON SECTION --> <!-- FIND ME ON SECTION --> <!-- FIND ME ON SECTION --> <!-- FIND ME ON SECTION --> 

      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 rounded-3xl justify-center shadow-xl dark:shadow-thick items-center flex flex-col p-8 h-full bg-white  dark:bg-secondary"
      >
        <div class="w-full text-center">
          <p
            class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-8xl"
          >
            Find me on
          </p>
        </div> 
        <div class="grid mt-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-y-4 gap-4 w-full place-items-center">
      
          <!-- email button -->
          <a
            href="mailto:davidmichael086@gmail.com" 
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-mail h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
              ></path><path d="M3 7l9 6l9 -6"></path></svg
            >
          </a>

          <!-- github button -->
          <a
            href="https://github.com/michaeldavidd/Michael-David-Portfolio.git"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-github h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
              ></path></svg
            >
          </a>
          <!-- LinkedIn Button -->
          <a
            href="https://www.linkedin.com/in/michael-david-"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-linkedin"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
              ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"
              ></path><path d="M12 16l0 -5"></path><path
                d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
            >
          </a>
        </div>
      </div>

      <!--- CENTER PROJECT SECTION -->
      <a
        
        class="ring-1 lg:row-span-2 flex flex-col justify-between group hover:ring-primary/10 dark:hover:ring-white/20 duration-300 h-full dark:ring-white/10 ring-primary/5 lg:row-start-2 md:grid-cols-2 md:grid lg:gap-0 md:items-center md:gap-12 lg:grid-cols-none lg:col-start-2 lg:col-span-2 rounded-3xl p-8 bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
      >
        <div>
          
        <p
        class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-5xl"
        >
          Data Science & Analytics
          </p>
          <p
          class="text-xl  text-primary dark:text-white lg:text-2xl mt-6"
        >
          Real Estate Regression
        </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light">
            This project involves a comprehensive data processing pipeline and exploratory 
            analysis for a housing dataset. It begins by fetching and loading the data, 
            then proceeds to perform initial exploratory data analysis to understand its 
            structure and key characteristics. Various visualizations and statistical summaries 
            are used to highlight important aspects of the dataset, such as the distribution 
            of house values and the correlation between different features.

            The project then splits the dataset into training and test sets using both random 
            and stratified sampling methods to ensure representative samples. It prepares 
            the data for machine learning by handling missing values, encoding categorical 
            variables, and scaling numerical features. Feature engineering is also applied 
            to create new informative attributes. Several machine learning models, including 
            Linear Regression, Decision Trees, and Random Forests, are trained and evaluated 
            using cross-validation to determine their performance. The project concludes with 
            a comparison of model accuracies and the selection of the most suitable model for 
            predicting house values. 
          </p>

          <p
          class="text-xl  text-primary dark:text-white lg:text-2xl mt-6"
        >
        Datathon: EPA Grants
        </p>

          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400">
          For my school's annual datathon, I 

          Participated in a high-pressure, 48-hour Datathon, analyzing extensive demographic and 
          economic governmental data to uncover key factors influencing the success of businesses 
          in securing Environmental Protection Agency (EPA) grants. This project involved handling 
          a large dataset of 160,000 entries using Python for data cleaning, preprocessing, and 
          exploratory analysis, and R for advanced statistical modeling. Tableau was employed to 
          create interactive visualizations that effectively communicated findings.
          
          Successfully processed and analyzed the data within the tight timeframe, identifying crucial 
          demographic and economic factors that were statistically significant in predicting grant success. 
          Developed clear and engaging visualizations in Tableau, highlighting key insights and trends, which 
          were instrumental in explaining complex data-driven findings. Delivered a polished 15-minute 
          presentation summarizing the analysis, findings, and recommendations, effectively communicating 
          the importance of identified factors and proposing solutions for organizations aiming to secure EPA grants.
          
          This project showcased my proficiency in data analysis and visualization, ability to work 
          under pressure, and skill in communicating complex information effectively. The insights 
          provided can help organizations understand the dynamics of EPA grant approvals and enhance 
          their chances of securing funding.
          </p>

          <p
          class="text-xl  text-primary dark:text-white lg:text-2xl mt-6"
        >
        COVID-19 Growth Analysis
        </p>

      </p>

      <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400">
        This data-driven analysis explored the rate of COVID-19-related deaths in the U.S. 
        from February 15, 2020, to March 15, 2022, tracking the cumulative increments of 
        100,000 deaths until the total surpassed one million. By visualizing this data, 
        we identified trends and rate changes linked to significant societal events. 
        The dataset, sourced from Kaggle's Covid-19 Global Dataset by Joseph Assaker, 
        provided daily and cumulative death counts, which we processed and analyzed using Excel, 
        Google Sheets, and Python libraries in Jupyter Notebook. Key findings highlighted 
        three major spikes in the death rate: the initial outbreak in early 2020, a surge 
        during the winter festivities of 2020, and the impact of the Delta variant in summer 2021. 
        These insights underscore the importance of timely and adaptive public health responses and 
        the value of data visualization in understanding pandemic dynamics.
      </p>
        
        </div>
        <!--- The monogram image:
        <div class="mt-8">
          <img
            src="/images/monomod.png"
            class="rounded-2xl group-hover:ring-white/20 duration-300 invert dark:invert-0 aspect-[4/4] bg-primary/5 dark:bg-primary ring-1 ring-white/10  object-cover"
            alt=""
          />
        </div>
         -->
      </a>

      <!--- GRAB MY RESUME SECTION -->
      <div
        class="ring-1 dark:ring-white/10  ring-primary/5 flex flex-col justify-between items-center rounded-3xl shadow-xl dark:shadow-thick p-8  bg-white dark:bg-secondary overflow-hidden text-center lg:text-left"
      >
        <div>
          <p
            class="text-xl text-primary dark:text-white lg:text-7xl tracking-tight"
          >
            Grab my resume!
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 md:max-w-xs lg:max-w-none">
            Explore variations of my resume tailored for different roles.
          </p>
        </div>
        <div class="w-full mt-8 md:max-w-xs lg:max-w-none">
          <button
            type="button"
            class="text-sm py-2 w-full px-4 h-12 font-semibold focus:ring-2 rounded-lg bg-primary dark:bg-white dark:text-primary dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 text-white flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-between"
            >
            Download my resume (Data Science)
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-download w-4 h-4"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path><path
                d="M7 11l5 5l5 -5"></path><path d="M12 4l0 12"></path></svg
            >
          </button>
        </div>
        <div class="w-full mt-8 md:max-w-xs lg:max-w-none">
          <button
            type="button"
            class="text-sm py-2 w-full px-4 h-12 font-semibold focus:ring-2 rounded-lg bg-primary dark:bg-white dark:text-primary dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 text-white flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-between"
            >
            Download my resume (Machine Learning)
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-download w-4 h-4"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path><path
                d="M7 11l5 5l5 -5"></path><path d="M12 4l0 12"></path></svg
            >
          </button>
        </div>
        <div class="w-full mt-8 md:max-w-xs lg:max-w-none">
          <button
            type="button"
            class="text-sm py-2 w-full px-4 h-12 font-semibold focus:ring-2 rounded-lg bg-primary dark:bg-white dark:text-primary dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 text-white flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-between"
            >
            Download my resume (Master)
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-download w-4 h-4"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path><path
                d="M7 11l5 5l5 -5"></path><path d="M12 4l0 12"></path></svg
            >
          </button>
        </div>
      </div>

      <!--- LOWER LEFT PROJECT SECTION -->
      <a
        class="ring-1 lg:row-start-3 items-left h-full flex p-8 flex-col justify-center hover:ring-primary/5 dark:hover:ring-white/20 dark:ring-white/10 ring-primary/5 relative rounded-3xl overflow-hidden bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
      >

      <p
        class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl mt-6"
      >
        Technical Skills
      </p>
          <p
          class="text-xl  text-primary dark:text-white lg:text-2xl mt-6"
          >
          - Python <br>
          &emsp; - Pandas <br>
          &emsp; - Matplotlib <br>
          &emsp; - Seaborn <br>
          &emsp; - Sci-Kit Learn <br>
          &emsp; - PyTorch <br>
          &emsp; - Keras <br>
          - Java <br>
          - R <br>
          - SQL (MySQL) <br>
          - Tableau <br>
          - Excel <br>
          </p>
         
      <p
        class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl mt-6"
      >
        Data Skills
      </p>
      <p class="text-xl  text-primary dark:text-white lg:text-2xl mt-6">
        - Data Collection <br>
        - Data Entry <br>
        - Data Analytics <br>
        - Data Visualization <br>
        - Data Mining <br>
        - Data Preparation <br> 
        &emsp; - Data Scaling/Normalization <br>
        &emsp; - Feature Engineering <br>
        - Data Pipelining <br>
        - Model Building <br>
        - Model Verification <br>
        - Hyperparameter Tuning <br>
        - Documentation <br>
        </p>
      

      <p
        class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl mt-6"
      >
        Other Skills
      </p>
          <p class="text-xl  text-primary dark:text-white lg:text-2xl mt-6">
            - Spanish (Fluent) <br>
            - French (Professional proficiency) <br>
            - German (Beginner) <br>
            - Reporting <br>
            - Presentation/Public Speaking <br>
            </p>
      </a>

    
      <!--- UPPER RIGHT PROJECT SECTION -->
      <a
        class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 hover:ring-primary/5 bg-white dark:bg-secondary  dark:hover:ring-white/20 overflow-hidden duration-300 shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        
        <div class="mt-8">
          <div class="flex flex-wrap">
            <div
              class="flex items-center text-sm font-medium text-primary dark:text-white"
            >
            </div>
          </div>
          <p
            class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl mt-6"
          >
            Machine Learning
          </p>
          <p
          class="text-xl  text-primary dark:text-white lg:text-2xl mt-6"
        >
          Wine Quality Linear Regression Analysis
        </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light">
            In this project, we analyzed the quality of red vinho verde wine from Portugal using 
            multiple linear regression. The dataset, sourced from the UCI ML repository, 
            included 1,599 observations across 12 variables such as acidity, chlorides, 
            sulfur dioxide levels, pH, sulphates, alcohol, and quality. Our exploratory 
            data analysis revealed significant correlations, particularly between sulfur 
            dioxide levels and alcohol with wine quality. We identified the best model 
            based on R², Mallow’s CP, and BIC values, ultimately selecting volatile acidity, 
            residual sugar, chlorides, free sulfur dioxide, total sulfur dioxide, pH, 
            sulphates, and alcohol as key predictors.

            After addressing multicollinearity and influence points, our robust regression 
            model achieved a multiple R-squared value of 0.3837. Despite challenges with 
            residual normality, the model highlighted crucial factors affecting wine quality. 
            These findings offer valuable insights for winemakers aiming to improve production 
            processes. However, the model's limitations, such as its relatively low R² and 
            non-normal residuals, suggest that further research with more comprehensive datasets 
            is necessary to enhance predictive accuracy and reliability.  
          </p>

          <p
          class="text-xl  text-primary dark:text-white lg:text-2xl mt-6"
        >
          Decision Tree Implementation
        </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light">
            In this project, as part of a machine learning course, I implemented a decision 
            tree from scratch in Python. Before development, I studied essential theoretical 
            components of decision trees including entropy, decision gain, tree depth, and 
            applications. The implementation involved developing methods to calculate these 
            impurity measures for classification tasks, creating functions to effectively 
            split data, and building the tree structure with appropriate nodes and branches. 
            By completing this project, I gained a comprehensive understanding of how decision 
            trees operate and how they can be optimized for various tasks in machine learning. 
          </p>

        </div>
      </a>
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 flex flex-col p-8 h-full justify-center items-center rounded-3xl overflow-hidden relative lg:col-span-2 lg:row-start-4 bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
      >


      <!--- BOTTOM LEFT PROJECT SECTION -->
        <div class="relative p-8 text-left w-full">

      <p
      class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-5xl"
    >
      Deep Learning
    </p>
    <p
      class="text-xl  text-primary dark:text-white lg:text-2xl mt-6"
    >
      Feed Forward Model
    </p>
    <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400">
      This introductory deep learning project implements a simple forward-feed neural network to 
      classify 10 distinct classes of digits ranging from 0 to 9. The model is 
      trained on the MNIST dataset and emphasizes simplicity and clarity with a 
      straightforward architecture structure. After 100 epochs of training, 
      the model achieves a 91% accuracy rate on the data.
    </p>

    <p
      class="text-xl  text-primary dark:text-white lg:text-2xl mt-6"
    >
      Transformer Neural Network
    </p>
    <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400">
      The following is a transformer deep learning project implemented utilizing PyTorch
       and Google Colab for sentiment analysis. The model is trained using real Twitter 
       data and includes essential components like attention mechanisms, multi-head attention, 
       and multi-layer perceptrons to achieve a Transformer-based neural network architecture. 
       Using Google Colab for intensive computing on GPUs, the project begins with a survey of 
       the dataset: exploratory data analysis and data augmentation. I continue by implementing 
       an attention function and Transformer blocks. The training phase involves hyperparameter 
       optimization through empirical testing, learning rate schedule, and step evaluation of the 
       dataset. The model excels in classifying both real tweets and custom user-provided tweets 
       for sentiment classification. 
      </p>

      <p
      class="text-xl  text-primary dark:text-white lg:text-2xl mt-6"
    >
      Convolutional Neural Network
    </p>
    <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400">
      In this project, I developed and implemented a Convolutional Neural Network (CNN) to 
      classify images from the CIFAR-10 dataset, consisting of 60,000 32x32 color images 
      across 10 different classes. I used PyTorch for data loading and preprocessing, 
      applying data augmentation techniques like image flipping to increase dataset size 
      and improve model generalization. The custom CNN architecture, inspired by ResNet, 
      included initial convolutional layers, multiple residual blocks, and bridge blocks 
      to downsample feature maps, along with Batch Normalization and ReLU activation 
      functions to enhance training stability and convergence speed.

      The model training leveraged GPU acceleration for efficiency, employing stochastic gradient 
      descent (SGD) and cross-entropy loss. Training iterations over 50 epochs involved dynamically 
      adjusting the learning rate for optimal progression. I evaluated the model on the test set, 
      reporting error rates and accuracy, and developed visualization tools to inspect random test 
      images and their predicted probabilities. The project demonstrated significant accuracy 
      improvements on CIFAR-10, showcasing the effectiveness of data augmentation and deep learning techniques.
    </p>
          

        </div>
      </div>
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 shadow-xl dark:shadow-thick rounded-3xl p-8 lg:row-start-4 h-full flex flex-col justify-between bg-white dark:bg-secondary"
      >
        <p
          class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-5xl"
        >
          Currently Reading
        </p>
        <div class="md:grid md:grid-cols-2 gap-6 lg:grid-cols-1">
          <div class="mt-4">
            <p class="text-sm text-pink-500 dark:text-pink-400">
              Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow: Concepts, Tools, and Techniques to Build Intelligent Systems
            </p>
            <p class="text-xs mt-2 text-zinc-500">
              <span class="block text-xs">Aurélien Géron</span>
              <span class="block text-xs"> Machine Learning</span>
            </p>
          </div>
          <div class="mt-4">
            <p class="text-sm text-orange-500 dark:text-orange-300">
              Les Conquistadors
            </p>
            <p class="text-xs mt-2 text-zinc-500">
              <span class="block text-xs">Fernando Cervantes</span>
              <span class="block text-xs"> History</span>
            </p>
          </div>
          <div class="mt-4">
            <p class="text-sm text-red-500 dark:text-red-300">
              Crime and Punishment
            </p>
            <p class="text-xs mt-2 text-zinc-500">
              <span class="block text-xs">Fyodor Dostoevsky</span>
              <span class="block text-xs"> Literature</span>
            </p>
          </div>
        </div>

        <p
          class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-5xl"
        >
        <br>
          Reading List
        </p>
        <p class="text-sm text-red-500 dark:text-red-300">
          Attention is All you Need <br>
          A Storm of Swords <br>
          Reinforcement Learning, an Introduction

        </p>
      </div>
      <div
        class="lg:col-span-2 xl:col-span-1 h-full flex flex-col justify-between lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <p
          class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-5xl"
        >
          About Me
        </p>
        <p class="text-primary dark:text-white mt-4">
          I began studying statistics after completing a Calculus 2 course and being 
          surprisingly intrigued by the material and its applications. Following Calculus 
          3, I switched majors from computer science to statistics to be closer to math, 
          while still having a programming-heavy curriculum at school. Data science and its 

          As for my career aspirations, I’m guiding my career towards programming automation 
          and I hope to contribute to the use of AI for societal good. I want to work closely 
          with machine learning in the realm of computer vision or natural language processing. 
          Having experience in both, I would like to explore both more before deciding on one set path.
          <br>
          I am fascinated by the human element of data science. This interest was started 
          through cultural anthropology courses I took, such as linguistics and the anthropology 
          of sex and gender. These courses highlighted how impactful culture is in human behavior 
          and societal trends and how data can reflect these stories and enriched my analytical 
          approach with a nuanced understanding of cultural contexts.
          <br>
          Looking ahead, I am planning on pursuing a master's degree in machine learning or a 
          related field. I am also interested in entrepreneurial ventures and am considering 
          starting my own business. I believe in the power of innovative startups to drive 
          positive change, and I am excited about the potential of this.
          <br>
          My educational journey has been diverse and international. I have also studied in 
          Mexico and France, which has not only broadened my perspective but also allowed me 
          to become fluent in Spanish and French (I’m also learning German). This multilingual 
          ability enhances my capacity to engage with global perspectives and collaborate across cultures.
          <br>
          Outside of my academic and professional interests, I enjoy staying active and 
          engaging in creative pursuits. I sculpt with humanistic elements, play the piano, 
          and practice yoga regularly. 
          <br>
          Thank you for visiting my website! I look forward to exploring opportunities 
          to contribute to impactful projects in data science and connecting with like-minded individuals. Best!
                    <br>          
          Michael David
        </p>
      </div>
    </div>
  </div>
</section>
